org: gianaedo
service: api-web-scraping

provider:
  name: aws
  runtime: nodejs18.x
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::586324269237:role/LabRole

functions:
  scrape_table:
    handler: scrap_table.handler
    runtime: nodejs18.x
    layers:
      - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:50
    package:
      include:
        - ./**
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST