org: gianaedo
service: api-web-scraping

provider:
  name: aws
  runtime: python3.12
  # Default memory size for functions (default: 1024MB)
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::586324269237:role/LabRole

functions:
  scrape_table:
    handler: scrap_table.lambda_handler  # Asegúrarse de que el nombre del archivo y la función coincidan
    package:
      include:
        - ./**  # Incluir todo el contenido del directorio
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
          integration: lambda
  scrape_table2:
    handler: scrap_table2.lambda_handler2  # Asegúrarse de que el nombre del archivo y la función coincidan
    layers:
      - arn:aws:lambda:us-east-1:496032492583:layer:chrome-for-selenium:1
    package:
      include:
        - ./**  # Incluir todo el contenido del directorio
    events:
      - http:
          path: /scrape/table2
          method: get
          cors: true
          integration: lambda 

resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    TablaWebScrapping2:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping2
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

